@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #84e1ad;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #32b46c;
    padding: 10px 0px 0px 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}
h1#emcima{
    color: white;
    text-align: center;
    margin: 10px;
}
p#primeiro{
    color: white;
    text-align: center;
    padding: 0px 0px 30px;
}
nav{
    background-color: #1a5c38ab;
    padding: 0px 0px 0px 20px;
}
main{
    background-color: white;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
h1{
    color: green;
   
    margin: 0px;
}
p{
    text-align: justify;
    padding: 10px;

}
h2{
    background-color: #32b46d2f;
    margin: 5px 0px 10px 20px ;
}
div{
    text-align: center;
}
div#video{
    background-color: #1a5c38ab;
    text-align: center;
}
article#diferente{
    background-color: #84e1ad;
}
h3{
    background-color: #32b46c;
}

ul{
    margin: 30px;
}
footer{
    background-color: #1a5c38ab;
    padding: 0px;
    margin: 0px;
}
p#centro{
    color: white;
    text-align: center;
}